.containerTradingView {
  width: 100%;
  height: 100%;
}

.chartView {
  width: 100%;
  height: 100%;
}

.imageChart {
  width: 100%;
  height: 100%;
}

div[class="dv-grid-view dv-dockview"] {
  height: 100% !important;
  width: 100% !important;
}
